# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
venv_qa/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
graphs/
/.venv/

hotpot_train_v1.1.json

hotpot_easy_qa_output.json
hotpot_easy_qa_output.txt
